@font-face {
    font-family: 'mononoki', monospace;
    src: url('/static/fonts/mononoki-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/mononoki-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/mononoki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/static/fonts/mononoki-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

.App {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.blue-background {
  background-color: aliceblue !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row-margin-20 {
  margin-top: 20px;
}

.row-margin-10 {
  margin-top: 10px;
}

.pad-10 {
  padding: 10px;
}
