.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.TimePicker {
    font-size: 3em;
}

.pre-test-container {
    padding-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
}