.WordsToType {
    font-family: garamond-premier-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-kerning: normal;
    -moz-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-size: 3em;
    line-break: normal;
    overflow: hidden;
    display: block;
    padding: 4px;
}

.normal-height {
    line-height: 1.5em;
    height: 3em;
}

.enlarged-height {
    line-height: 1.5em;
    height: 4.5em;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* Old style rules */
._currentWord {
    text-decoration: underline;
}

._typo {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}