.Word {
    cursor: pointer;
}
.Word:hover {
    border-radius: 7px;
    box-shadow: 0 0 3px #6e6e6e;
}
.currentWord {
    background-color: azure;
    border-radius: 7px;
    box-shadow: 0 0 3px powderblue;
}
.typo {
    background-color: pink;
    border-radius: 7px;
    box-shadow: 0 0 3px red;
}

.typoText {
    color: #d00
}

.currentWord-dark {
    background-color: #475866;
    border-radius: 7px;
    box-shadow: 0 0 3px #3d4d4d;
}
.typo-dark {
    background-color: #66474e;
    border-radius: 7px;
    box-shadow: 0 0 3px #4d3a3e;
}

.typedCorrect {
    color: gray
}

.typedTypo {
    color: gray;
    text-decoration: line-through
}

.popup-placeholder {
    width: 280px;
}